.main {
  --background: #d8cbe8;
  --background02: #fff;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  min-height: 100dvh;
  margin: 0 auto;
  padding: 40px 4.5%;
  font-family: var(--font-custom);
}

/*.title*/

.form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
  gap: 30px;
}

.input {
  flex: 1;
  text-align: center;
  transition: border-color 0.2s;
}

.input:focus {
  border-radius: 50px;
  outline: 2px solid #333;
  outline-offset: 5px;
  animation: outlinePoyon 0.4s ease;
}

.addButton {
  display: block;
  padding: 10px 13px;
  outline: 2px solid #333;
  border-radius: 100%;
  font-size: 9px;
  transition: transform 0.1s ease;
}

.addButton:active {
  transform: scale(1.2);
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
}

.checkButton {
  font-size: 24px;
  line-height: 0;
  transition: transform 0.2s ease;
}

.checkButton:active {
  transform: scale(1.2);
}

.text {
  position: relative;
  display: inline-block;
}

.text::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.editInput {
  animation: editIn 0.4s ease;
}

@keyframes editIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.textDone::after {
  transform: scaleX(1);
}

.frame {
  fill: currentColor;
  fill-opacity: 0;
  animation: fadeIn 0.2s ease forwards;
}

@keyframes fadeIn {
  to {
    fill-opacity: 0.3;
  }
}

.check {
  fill: none;
  stroke-dasharray: 14;
  stroke-dashoffset: 14;
  animation: draw 0.2s ease forwards;
  animation-delay: 0.2s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes outlinePoyon {
  0% {
    outline-offset: 0;
  }
  50% {
    outline-offset: 6px;
  }
  75% {
    outline-offset: 1px;
  }
  100% {
    outline-offset: 5px;
  }
}
